<div class="main">
    <div class="column-div">
        <div class="newscontent">
            <div class="news-header-title">
                <h5>Chain Store Age</h5>
                <p>Feb 22, 2016</p>
            </div>
            <p class="subtitle">Billabong taps NetSuite to power omnichannel strategy</p>
            <div class="imgdiv">
                <img src="/img/images1.jpeg" class="img">
            </div>
            <p class="newsdescription">The industry leader in software security solutions, released data today from BSIMM6, the latest from the industry’s first and only software security measurement tool built on real-world data</p>
            <div class="actionicon">
                <span><i class="fa fa-color fa-briefcase" aria-hidden="true"></i></span>
                <span><i class="fa fa-color fa-thumbs-up" aria-hidden="true"></i><span class="fa-color fa-text-padding">132</span></span>
                <span><i class="fa fa-color fa-share" aria-hidden="true"></i></span>
            </div>
        </div>
        <div class="newscontent">
            <div class="news-header-title">
                <h5>Chain Store Age</h5>
                <p>Feb 22, 2016</p>
            </div>
            <p class="subtitle">Journelle, Alton Lane streamline process with NetSuite platform</p>
            <div class="imgdiv">
                <img src="/img/images3.jpeg" class="img">
            </div>
            <p class="newsdescription">Our NetSuite tips are designed to help you get the most out of using NetSuite. This month’s guide is all about sending emails directly from records</p>
            <div class="actionicon">
                <span><i class="fa fa-color fa-briefcase" aria-hidden="true"></i></span>
                <span><i class="fa fa-color fa-thumbs-up" aria-hidden="true"></i><span class="fa-color fa-text-padding">132</span></span>
                <span><i class="fa fa-color fa-share" aria-hidden="true"></i></span>
            </div>
        </div>
    </div>
    <div class="column-div">
        <div class="newscontent">
            <div class="news-header-title">
                <h5>Chain Store Age</h5>
                <p>Feb 22, 2016</p>
            </div>
            <p class="subtitle">New Study Shows One Critical Industry Lagging Behind In Software Security</p>
            <p class="newsdescription">Billabong International Limited's core business is the marketing, distribution, wholesaling and retailing of apparel, accessories, eyewear, wetsuits and hardgoods in the boardsports sector under the Billabong, RVCA, Element, Von Zipper, Honolua Surf Company, Kustom, Palmers Surf and Xcel brands.</p>
            <div class="actionicon">
                <span><i class="fa fa-color fa-briefcase" aria-hidden="true"></i></span>
                <span><i class="fa fa-color fa-thumbs-up" aria-hidden="true"></i><span class="fa-color fa-text-padding">132</span></span>
                <span><i class="fa fa-color fa-share" aria-hidden="true"></i></span>
            </div>
        </div>
        <div class="newscontent">
            <div class="news-header-title">
                <h5>Chain Store Age</h5>
                <p>Feb 22, 2016</p>
            </div>
            <p class="subtitle">AlphaGo and the Declining Advantages of Big Companies</p>
            <div class="imgdiv">
                <img src="/img/images2.jpeg" class="img">
            </div>
            <p class="newsdescription">Last week, machine learning took a big leap forward when Google’s AlphaGo, a machine algorithm, beat the world champion, Lee Sedol, in the game Go. An ancient Chinese board game that dates back nearly 3,000 years, Go is played on a 19-by-19 square grid, with each player trying capture the opponent’s territory.</p>
            <div class="actionicon">
                <span><i class="fa fa-color fa-briefcase" aria-hidden="true"></i></span>
                <span><i class="fa fa-color fa-thumbs-up" aria-hidden="true"></i><span class="fa-color fa-text-padding">132</span></span>
                <span><i class="fa fa-color fa-share" aria-hidden="true"></i></span>
            </div>
        </div>
    </div>
    <div class="column-div">
        <div class="newscontent">
            <div class="news-header-title">
                <h5>Chain Store Age</h5>
                <p>Feb 22, 2016</p>
            </div>
            <p class="subtitle">NetSuite rolls out a new e-procurement system for B2B companies</p>
            <div class="imgdiv">
                <img src="/img/images4.jpeg" class="img">
            </div>
            <p class="newsdescription">SuiteCommerce is an omniCommerce solution made by the integration of different NetSuite modules that combine your financials, marketing, customer support, order management, inventory and warehousing capabilities. Your business becomes as slick and efficient as possible.</p>
            <div class="actionicon">
                <span><i class="fa fa-color fa-briefcase" aria-hidden="true"></i></span>
                <span><i class="fa fa-color fa-thumbs-up" aria-hidden="true"></i><span class="fa-color fa-text-padding">132</span></span>
                <span><i class="fa fa-color fa-share" aria-hidden="true"></i></span>
            </div>
        </div>
    </div>
</div>