<div>
      <div class="menu-list">
          <div class="searchcontainer">
            <input type="text" class="navigate" placeholder="NAVIGATE"></input>
          </div>
            
            <ul id="menu-content">

                <li>
                  <a ui-sref="app.analytics"><span class="sidebarlist"><img src="/img/analitycs.png" height="11px" width="18px"></i></span>Analytics
                  </a>
                </li>

                 <li >
                  <a ui-sref="app.news"><span class="sidebarlist" ><img src="/img/newspaper.png" height="11px" width="18px"></i></span>News
                  </a>
                  </li>

                 <li >
                  <a ui-sref="app.boardbrief"><span class="sidebarlist" ><img src="/img/board-brief.png" height="11px" width="18px"></i></span>Board Brief
                  </a>
                </li>

                <li>
                  <a ui-sref="app.briefcase"><span class="sidebarlist" ><img src="/img/briefcase.png" height="11px" width="18px"></i></span>Briefcase
                  </a>
                </li>

                 <li class="more-margin">
                  <a href="#"><span class="sidebarlist" ><img src="/img/angle-double-left.png" height="11px" width="18px"></span>Close menu
                  </a>
                </li>
            </ul>
          </div>
        </div>
</div>